<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div>
        @{
            //RenderBody is what is doing the work
            //It renders your view files
        }
        @RenderBody()
    </div>
</body>
</html>
