@{
    //Without _ViewStart.cshtml, every page
    //has to have the Layout directive
    Layout="_Layout";
    ViewData["Title"] = "Home Page";

    //The div below isn't necessary, but it is my standard
}

<div>
    <h1>@ViewData["Title"]</h1>
</div>
